/* Universal selector */
*{
    /* targets all the tags */
}
#CONTAINER *{
    /* targets all the tags inside #CONTAINER */
}

/* accessing all the tags of the same type */
span, footer{
    color: teal;
    background-color: thistle;
}

/* accessing tags from their IDs */
#five_words{
    border: 2px solid black;
    color: red;
}
#ten_words{
    border: 2px solid black;
    color: blue;
}
#fifteen_words{
    border: 2px solid black;
    color: green;
}
#twenty_words{
    border: 2px solid black;
    color: orange;
}

/* Adding classes */
.redStyle{
    color: red;
    background-color: yellow;
}