.container{
    display: block;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

input {
    display: block;
    font-size: 50px;
    height: 50px;
    width: 500px;
}

/* ATTRIBUTES SELECTOR */
input[type="text"]{ /* selecting specific attribute */
    font-weight: bold;
}

input[type^="tex"]{ /* selecting attribute with value starting with "tex" */
    font-weight: bold;
}

input[type|="tex"]{ /* selecting attribute with value starting with "tex" with a hyphen(-) ==> "tex-" */
    font-weight: bold;
}

input[type$=".png"]{ /* selecting attribute with value ending with ".png" */
    font-weight: bold;
}

input[type*="ex"]{ /* selecting attribute with value including, substring "ex" */
    font-weight: bold;
}

input[type~="ex"]{ /* selecting attribute with value separated by spaces ==> "(space)ex(space)" */
    font-weight: bold;
}

a[target]{ /* effects those anchor tags which have a target set */
    color: red;
}

a[target="_self"]{
    color: black;
}

li{
    font-size: 50px;
    font-weight: bold;
}

li:nth-child(3){ /* targets 3rd li */
    font-size: 30px;
    font-weight: normal;
}

li:nth-child(3n+0){ /* targets every third element */
    /* starts from n = 0 */
    font-size: 30px;
    font-weight: lighter;
}

li:nth-child(odd){
    color: red;
}

li:nth-child(even){
    color: blue;
}